.back-arrow {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  height: 42px;
  width: 42px;
  transform: rotate(180deg);
  transition: .3s;
  opacity: .5;
  cursor: pointer;
}
.back-arrow:hover {
  opacity: 1;
}
